@font-face {
    font-family: 'IRANSansWeb';
    src: url(IRANSansWeb-FANum-eot + ".eot");
    src: url(IRANSansWeb-FANum-eot + '.eot?#iefix') format('embedded-opentype'),
         url(IRANSansWeb-FANum-woff +  '.woff') format('woff'),
         url(IRANSansWeb-FANum-woff2 + '.woff2') format('woff2'),
         url(IRANSansWeb-FANum-ttf + '.ttf') format('truetype'),
         url(IRANSansWeb-FANum-eot +'.svg#FontName') format('svg');
    font-style: normal;
    font-weight: normal;
}