$IRANSansWeb-FANum-eot : "../font/iransans/eot/IRANSansWeb(FANum)";
$IRANSansWeb-FANum-ttf : "../font/iransans/ttf/IRANSansWeb(FANum)";
$IRANSansWeb-FANum-woff : "../font/iransans/woff/IRANSansWeb(FANum)";
$IRANSansWeb-FANum-woff2 : "../font/iransans/woff2/IRANSansWeb(FANum)";